# Solving WORDLE

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('wordle.csv')
df.head()

  first second third fourth fifth
0     w      h     i      c     h
1     t      h     e      r     e
2     t      h     e      i     r
3     a      b     o      u     t
4     w      o     u      l     d

In [7]:
df['first'].head(10)

0    w
1    t
2    t
3    a
4    w
5    t
6    o
7    w
8    c
9    w
Name: first, dtype: object

In [14]:
df['first'].unique()

array(['w', 't', 'a', 'o', 'c', 'f', 'r', 'y', 'p', 's', 'g', 'e', 'n',
       'u', 'm', 'h', 'b', 'l', 'k', 'v', 'q', 'd', 'i', 'F', 'j', 'z',
       'x'], dtype=object)

In [13]:
len(df['first'].unique())

27

In [20]:
df['first'].value_counts().sort_values(ascending=False).head()

s    724
c    440
b    432
p    386
t    376
Name: first, dtype: int64

In [23]:
df.columns

Index(['first', 'second', 'third', 'fourth', 'fifth'], dtype='object')

In [ ]:
for col in df.columns:
    print(df[col].value_counts().sort_values(ascending=False).head(10))

In [37]:
c_words = df[df['first'] == 'c']
c_words.head()

    first second third fourth fifth
8       c      o     u      l     d
87      c      o     m      e     s
88      c      l     o      s     e
97      c      l     a      s     s
115     c      o     l      o     r

In [34]:
c_a = c_words[c_words['third'] == 'a']
c_a.shape

(57, 5)

In [36]:
c_a

     first second third fourth fifth
97       c      l     a      s     s
223      c      o     a      s     t
274      c      h     a      i     r
336      c      h     a      r     t
466      c      h     a      i     n
480      c      l     a      i     m
631      c      r     a      c     k
634      c      o     a      c     h
659      c      l     a      w     s
708      c      o     a      t     s
737      c      r     a      s     h
738      c      r     a      f     t
767      c      h     a      l     k
769      c      r     a      z     y
809      c      h     a      s     e
949      c      h     a      r     m
966      c      r     a      w     l
1051     c      h     a      n     t
1092     c      e     a      s     e
1125     c      o     a      l     s
1148     c      l     a      m     s
1226     c      l     a      m     p
1249     c      r     a      n     e
1264     c      r     a      b     s
1306     c      r     a      n     k
1350     c      h     a      o     s
1586     c      r     a      t     e
1616     c      l     a      s     h
1829     c      h     a      p     s
1942     c      l     a      s     p
1946     c      h     a      m     p
1963     c      r     a      m     p
2029     c      l     a      p     s
2055     c      l     a      n     g
2141     c      r     a      g     s
2249     c      l     a      y     s
2325     c      l     a      n     k
2335     c      h     a      f     f
2502     c      r     a      z     e
2560     c      h     a      s     m
2619     c      l     a      n     s
2674     c      r     a      v     e
2936     c      h     a      t     s
2980     c      h     a      f     e
2991     c      z     a      r     s
3152     c      r     a      m     s
3692     c      l     a      c     k
3774     c      o     a      t     i
3818     c      r     a      s     s
3931     c      l     a      v     e
3978     c      h     a      r     y
4102     c      h     a      r     d
4151     c      h     a      w     s
4309     c      r     a      p     s
4441     c      l     a      d     s
4463     c      r     a      w     s
4864     c      h     a      r     s